body {
  padding-top: 70px;
  padding-bottom: 30px;
  font-size: 16px;
}
.btn {
    background-image: none;
    border: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
/* navbar */
.navbar-default {
    background-color: #3497da;
    border-color: #E7E7E7;
}
/* buttons, select, dropdown */
.btn-group a.btn {
    margin-right: 5px;
}
/* pagination */
.pagination {
    margin: 0;
}
/* panel */

.panel-footer {
     background-color: #FFF; 
}
.portfolio-item {
    font-size: 80%;
    padding: 10px;
    margin: 5px 0;
    background-color: #F0F0F0;
    border-radius: 5px;

}
.portfolio-item:hover{
    background-color: #E0E0E0;
}
.portfolio-item span.label {
        font-size: 100%;
}
.portfolio-item img {
    border: 1px solid #CCC;
    padding: 3px;
    max-height: 250px;
    }
.portfolio-item h4 a {
    font-size: 90%;
    font-weight: bold;
    color: #3497da;
}
p.thumb {
    text-align: center;
}